.positioner {
   height: 100%;
   display: flex;
   align-items: center;
}

.sideBlogWrapper {
   width: 180px;
   height: 90%;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.sideBlog {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-between;
   width: 160px;
   height: 100%;
}

.cancelBlog {
   color: #E3DEAE;
   cursor: pointer;
}

.twoButton {
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: space-between;
}

.inputWrap {
   width: 100%;
}

.sideLabel {
   color: #E3DEAE;
   font-size: 22px;
}

.sideArea {
   background: #E3DEAE;
   color: #1B3A20;
   border: 2px solid #1B3A20;
   max-width: 100%;
}

.sideArea:focus {
   border: none;
}

.inputWrap > textarea {
   height: 80px;
}

.sideSubmit {
   background-color: #1B3A20;
   color: #E3DEAE;
   font-size: 18px;
   width: 100%;
   cursor: pointer;
   margin-top: 4px;
}