@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Dosis', 'sans-serif';
  background: rgb(175, 180, 211);
}

.blogs {
  margin-bottom: 20px;
}

.container {
  width: 80vw;
  margin: 0px auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto 20px auto;
  width: 70vw;
  padding: 8px 16px;
  border-radius: 5px;
  border: 2px solid #1B3A20;
  background-color: white;
}

.header h1 {
  color: #1B3A20;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 7px;
}

.button {
  background: #1B3A20 !important;
  color: white;
  height: 50px;
  border: none;
  padding: 8px 0px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}

.btn:active {
  transform: scale(0.98);
}

.blog {
  background-color: white;
  color:#1B3A20;
  border-radius: 5px;
  border: 2px solid #1B3A20;
  margin: 10px auto;
  width: 70vw;
  padding: 5px 8px;
  text-align: justify;
}

.blog h3 {
  font-weight: bolder;
}

.restaurant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 2px 2px;
  border-radius: 2px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

.edit {
  height: 16px;
  margin-bottom: 2px;
}

.link:hover {
  color: #1B3A20;
}

.add-form {
  width: 70vw;
  margin: 0px auto;
  margin-bottom: 20px;
}

.form-control {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

form label {
  display: block;
  color:#1B3A20;
  margin-bottom: 2px;
  margin-left: 2px;
  font-size: 20px;
}

.quarter-width-1 {
  grid-column: 1/3
}

.quarter-width-2 {
  grid-column: 3/5
}

.quarter-width-3 {
  grid-column: 5/6
}

.quarter-width-4 {
  grid-column: 6/7
}

.half-width-1 {
  grid-column: 1 / 4;
}

.half-width-2 {
  grid-column: 4 / 7;
}

.full-width {
  grid-column: 1 / 7;
}

input,
textarea {
  padding: 0.5em;
  width: 100%;
  border-radius: 5px;
  border: 0px;
  background-color: rgba(122, 194, 82, 0.2);
  color: gray;
  font: inherit;
}

input:focus,
textarea:focus {
  outline: 2px #1B3A20 solid;
}

.btn-block {
  width: 100%;
  margin: 0;
  font-size: 24px;
}

@media(max-width: 1000px) {
  .header {
    margin: 20px auto 10px auto; 
    width: 80vw;
  }

  .blog {
    margin: 10px auto; 
    width: 80vw;
  }

  .add-form {
    width: 80vw;
  }
}

