.popBlog {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.8);
   z-index: 1;
}

.blogWrapper {
   background: white;
   margin: 100px 170px;
   padding: 20px 16px;
   border-radius: 10px;
}

.close {
   float: right;
   top: 0px;
   height: 1.2rem;
   cursor: pointer;
}