.sidebar-buttons-container {
   height: 100%;
   width: 100%;
   z-index: 102;
   backdrop-filter: blur(6px);
   padding-bottom: 10px;
}

.sidebar-buttons {
   height: 100%;
   min-height: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.slider-holder {
   margin-left: 16px;
}

@media(max-width: 960px) {
   .sidebar-buttons {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      overflow: scroll;
   }
   .sidebar-buttons-container {
      width: 100%;
      height: min-content;
      padding-bottom: 0;
   }
}