.summaryWrapper {
   display: flex;
   align-items: center;
   padding: 10px 0 10px 0;
   color: #1B3A20;
   width: 90%;
   margin: 0 auto;
}

.description::first-letter  {
   font-size: 32px;
}

.summaryTable {
   text-align: left;
   font-size: 24px;
   border-collapse: collapse;
   align-self: center;
   width:100%;
}

.tableWrapper {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin: 0 auto;
}

.tableWrapper > h1 {
   padding-bottom: 10px;
}

.scores {
   text-align: center;
}

.tableHeader {
   color: white;
   background-color: #1B3A20;
   text-align: center;
   font-weight: bolder;
}

.tableHeader:first-child {
   border-radius: 8px 0 0 0;
}
.tableHeader:last-child {
   border-radius: 0 8px 0 0;
}

.headerRow {
   padding: 2px 20px 2px 20px;
}

.tableRow > th, td {
   padding: 2px 20px 2px 20px;
}

.summaryBody > tr:nth-child(2n) {
   background-color: rgba(175, 180, 211, 0.2);
}

.summaryBody > tr:nth-child(2n+1) {
   background-color: rgba(175, 180, 211, 0.1);
}

.tableAndGraph {
   display:flex;
   flex-direction: column;
   width: 100%;
}

.graphWrapper {
   height: 40px;
   max-width: 200px;
}

.tableCap {
   background-color: #1B3A20;
   width: 100%;
   height: 10px;
   border-radius: 0 0 8px 8px;
}

/*.graphWrapper {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   position: relative;
}

.resetGraph {
   position: absolute;
   top: 5%;
   left: 2%;
   cursor: pointer;
} */