.summaryWrapper {
   padding: 10px 0 10px 0;
   color: #1B3A20;
   width: 60%;
   margin: 0 auto;
}

.preList {
   display: flex;
   width: 100%;
   padding: 0 10px;
   align-items: center;
   justify-content: space-between;
}

.preTable {
   width: 100%;
   min-height: fit-content;
   margin-bottom: 15px;
   background-color: rgba(175, 180, 211, 0.25);
   padding: 10px;
   border-radius: 8px;
   gap: 10px;
}

.tableWrapper {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin: 0 auto;
}

.summariesWrapper {
   width: 100%;
}

@media(max-width: 1200px) {
   .summaryWrapper {
      width: 80%;
   }
}

@media(max-width: 800px) {
   .summaryWrapper {
      width: 95%;
   }
}