.buttons {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   flex-shrink: 0;
   width: 190px;
   justify-content: space-between;
   row-gap: 40px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 20px;
   overflow: hidden;
}

.linktext {
   font-size: 24px;
}

.btn {
   height: 100px;
   width: 100px;
   display: flex;
   align-items: center;
}

.btn > img {
   height: 100px;
   -webkit-filter: drop-shadow(0 0 5px rgb(42, 44, 122));
   filter: drop-shadow(0 0 5px rgb(42, 44, 122));
}

.btn:hover > img {
   transform: translateX(-70px) scale(0.3);
   transition: 250ms ease-out;
}

.btn > a {
   opacity: 0;
   white-space: nowrap;
   transform: translateX(100px);
}

.btn:hover > a {
   opacity: 1;
   transform: translateX(-100px);
   transition: all 250ms ease-in;
   color: white;
}
