@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Teko:wght@300&display=swap');

.formWrapper {
   color: #1B3A20;
}

.topBar {
   position: sticky;
   top: 0;
   z-index: 100;
}

.navbar {
   /* background-color: rgb(42, 44, 122); */
   background-color: white;
   margin: 0;
   padding: 0px 30px;
   box-sizing: border-box;
   color:  #1B3A20;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-weight: normal;
   font-size: 32px;
   border-bottom: 2px solid #1B3A20;
}

a {
   text-decoration: none;
   color:  #1B3A20;
   font-size: 24px;
}

a:hover {
   color: #7AC252;
}

.propic {
   height: 2.7rem;
   width: 2.7rem;
   object-fit: cover;
   border-radius: 50%;
   border: 2px solid #1B3A20;
   margin-top: 5px;
}

.leftSide {
   display:flex;
   align-items: center;
   justify-content: flex-start;
}

.listmenu {
   display: flex;
   justify-content: flex-start;
   list-style-type: none;
   padding-bottom: 10px;
   padding-left: 20px;
}

.listmenu > li {
   padding-right: 20px;
}

#profilePic {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   cursor: pointer;
}

#username {
   padding-left: 10px;
}

.title {
   font-family: 'Teko', sans-serif;
   font-weight: lighter;
   font-size: 46px;
}

.title:hover {
   color: #1B3A20;
}

/* HAMBURGER MENU */

.hamburger {
   display: none;
   margin-bottom: 4px;
   transition: 0.5s;
   cursor: pointer;
   flex: 25%;
}

[class*="hamburger-"] {
   height: 2px;
   width: 25px;
   margin-bottom: 2px;
   background-color: #1B3A20;
}

.hamburger:hover {
   transform: scale(1.05);
}

.hamburger-middle {
   transform: translateY(3px);
}
.hamburger-bottom {
   transform: translateY(6px);
}

.drop-menu {
   display: none;
   position: sticky;
   top: 83px;
}

@media(max-width: 800px) {
   #profilePic {
      display: none;
   }
   .hamburger {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
   }

   [class*="hamburger-"] {
      transition: all 0.3s ease;
   }

   .drop-menu {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3px 20px;
      background-color: rgba(122, 194, 82, 0.2);
   }

   .menu-item {
      margin: 8px 40px;
   }

   .menu-item > a {
      color: #1B3A20;
      font-weight: bolder;
      transition: filter 300ms;
   }

   .menu-item > a:hover {
      filter: brightness(1.8)
   }


   .hamburger.active > .hamburger-middle{
      opacity: 0;
   }

   .hamburger.active > .hamburger-top {
      transform: translateY(4px) rotate(45deg);
   }

   .hamburger.active > .hamburger-bottom {
      transform: translateY(-4px) rotate(-45deg);
   }

   .listmenu {
      display: none;
   }

   .hashone {
      height: 2px;
      width: 25px;
      margin-bottom: 2px;
      background-color: #1B3A20;
      transform: translateY(4px) rotate(45deg);
   }

   .hashtwo {
      height: 2px;
      width: 25px;
      margin-bottom: 2px;
      background-color: #1B3A20;
      transform: rotate(-45deg);
   }

   .ex {
      flex: 25%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      transition: all 0.3s ease;
      cursor: pointer;
   }

   .ex:hover {
      transform: scale(1.05);
   }

   .ex-enter {
      opacity: 0;
    }
    .ex-enter-active {
      opacity: 1;
      transition: opacity ease-in;
    }
    .ex-exit {
      opacity: 1;
    }
    .ex-exit-active {
      opacity: 0;
      transition: opacity ease-out;
    }
}