@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Teko:wght@300&display=swap');

.topBar {
   position: sticky;
   top: 0;
   z-index: 100;
}

.navbar {
   /* background-color: rgb(42, 44, 122); */
   background-color: white;
   margin: 0;
   padding: 0px 30px;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-weight: normal;
   font-size: 32px;
   border-bottom: 2px solid #1B3A20;
   position: relative;
}

a {
   text-decoration: none;
   color:  #1B3A20;
   font-size: 24px;
}

a:hover {
   color: #7AC252;
}

.propic {
   height: 2.7rem;
   width: 2.7rem;
   object-fit: cover;
   border-radius: 50%;
   border: 2px solid #1B3A20;
   margin-top: 5px;
}

.leftSide {
   display:flex;
   align-items: center;
   justify-content: flex-start;
}

.listmenu {
   display: flex;
   justify-content: flex-start;
   list-style-type: none;
   padding-bottom: 10px;
   padding-left: 20px;
}

.listmenu > li {
   padding-right: 20px;
}

#profilePic {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   cursor: pointer;
}

#username {
   padding-left: 10px;
}

.title {
   font-family: 'Teko', sans-serif;
   font-weight: lighter;
   font-size: 46px;
}

.title:hover {
   color: #1B3A20;
}

.miniMenu {
   display: none;
   cursor: pointer;
}

.miniMenu:hover {
   transform: scale(1.1);
}

.drop-menu {
   display: none;
   position: sticky;
   top: 83px;
}

@media(max-width: 800px) {
   #profilePic {
      display: none;
   }

   .miniMenu {
      display: block;
   }

   .drop-menu {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3px 20px;
      background-color: rgb(228,243,220);
   }

   .menu-item {
      margin: 8px 40px;
   }

   .menu-item > a {
      color: #1B3A20;
      font-weight: bolder;
      transition: filter 300ms;
   }

   .menu-item > a:hover {
      filter: brightness(1.8)
   }

   .listmenu {
      display: none;
   }
}