.cuisineSummary {
   width: 100%;
   min-width: fit-content;
   background-color: rgba(175, 180, 211, 0.15);
   border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 4px 20px 4px 20px;
   min-height: 100px;
}

.cuisineGeneral {
   min-width: 30%;
   overflow: hidden;
}

.cuisineName {
   font-size: 32px;
}

.cuisineWinner {
   font-size: 22px;
   float: left;
   min-width: 55%;
}

.cuisineScore {
   background-color:rgba(175, 180, 211, 0.25);
   color:#7AC252;
   border-radius: 8px;
   padding: 16px;
   height: fit-content;
   width: fit-content;
   font-size: 24px;
   float: right;
}

@media(max-width: 690px) {
   .cuisineSummary {
      padding: 4px 10px 4px 10px;
   }
   .cuisineName {
      font-size: 24px;
   }
   .cuisineWinner {
      font-size: 16px;
   }

   .cuisineScore {
      font-size: 16px;
      padding: 12px;
   }

   .cuisineWinner {
      width: 60%;
   }
   
   .cuisineGeneral {
      width: 25%;
   }
}