.formWrapper {
   width: 180px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   height: 100%;
   
}

.countriesList {
   position: relative;
   overflow: scroll;
   width: 150px;
   padding: 0 4px;
   border: 2px solid #1B3A20;
   border-radius: 4px;
   background-color: #E3DEAE;
   list-style: none;
   height: 90%;
   scrollbar-width: none;
   --shadowColor: 187 60% 40%;
   box-shadow:  0.3rem 0.3rem 0 rgba(0, 0, 0, 0.6);
}

.selectHeader {
   width: 150px;
   text-align: center;
}

.headerCancel {
  position: absolute;
  left: 1%;
  cursor: pointer;
}

.countryItem {
   border-bottom: 1px solid lightgray;
   text-align: center;
   cursor: pointer;
   font-size: 20px;
 }

 .selectedItem {
  color: #7AC252;
 }
 .errorItem {
  color: red;
 }

 .countryItem:last-child {
   border: none;
 }

 #sideNotFound {
  position: absolute;
  bottom: -8%;
  background-color: red;
  color: white;
  border-radius: 4px;
  border: solid 1px white;
  padding: 4px 8px;
  text-align: center;
 }

 @media(max-width: 960px) {
    .formWrapper {
      width: 100%;
      overflow: scroll;
    } 
    .headerCancel {
      display: none;
    }
    .countriesList {
      display: flex;
      align-items: flex-start;
      width: 100%;
      gap: 3px;
      background-color: white;
      color:#1B3A20;
      border: none;
      border-radius: 0;
    }
    .countryItem {
      border-bottom: none;
      border-right: 2px solid #1B3A20;
      width: fit-content;
      white-space: nowrap;
      text-align: center;
      font-size: 14px;
      padding: 2px 6px 2px 4px;
    }
    .selectedItem {
      border-bottom: none
    }
 }