.wrapper {
   position: relative;
   overflow-x: auto;
   overflow-y: hidden;
   height: fit-content;
   width: fit-content;
}

.map {
   margin-top: 5px;
   height: calc(100vh - 118px);
   min-height: 600px;
}