.hero {
   display: flex;
   background-color: #00A9C7;
   position: relative;
   overflow: scroll;
}

.homeButtons {
   height: calc(100vh - 150px);
   min-height: 600px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

.sliderHolder {
   margin-left: 16px;
}

.notFound {
   background-color: white;
   border: 2px solid #1B3A20;
   text-align: center;
   border-radius: 10px;
   padding: 10px;
   font-size: 24px;
   width: fit-content;
   margin: 70px 15px 0 auto;
   z-index: 103;
}

.containSummary {
   width: 100%;
   position: fixed;
   top: 1vh;
   z-index: 101;
   width: 100%;
   pointer-events: none;
}

.summaryPop {
   /* left: 30vw; */
   margin: 70px auto;
   width: min-content;
}

@media(max-width:960px) {
   .sliderHolder {
      display: none;
   }
}