@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap');

 * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: 'Dosis', 'sans-serif';
  }

  .mainWrapper {
    min-height: calc(100vh - 118px);
  }