.summaryPost {
   background-color: white;
   align-self: center;
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 0px;
   padding: 10px;
   border-radius: 8px;
   position: relative;
   min-width: min-content;
   pointer-events: all;
}

.cuisineDetails {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   height: 100%;
}

.cuisineDetails {
   white-space: nowrap;
}

.postContent {
   display: flex;
   flex-direction: column;
   align-items: center;
   inline-size: min-content;
   height: 100%;
}

.postContent > div {
   white-space: nowrap;
}

.winnerName {
   display: flex;
   align-items: center;
   font-size: 20px;
}

.winnerInfo {
   font-size: 18px;
}

.postGraph {
   width: 200px;
}

.exit {
   position: absolute;
   top: 2%;
   right: 2%;
   cursor: pointer;
   z-index: 100;
}

.subcuisinesWrapper {
   display: flex;
   flex-direction: column;
   width: fit-content;
   align-items: center;
}

.ropes {
   border-left: 5px solid #351E1B;
   border-right: 5px solid #351E1B;
   height: 20px;
   width: 85%;
}

.subcuisines {
   color: white;
   padding-left: 8px;
   font-size: 20px;
   background-color: #BE975B;
   width: fit-content;
   border-radius: 4px;
   padding: 3px 6px;
   border: 2px solid #351E1B;
}

@media(max-width: 690px) {
   .summaryPost {
      flex-direction: column;
      gap: 20px;
   }

   .subcuisines {
      font-size: 14px;
   }
}